.btn {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  background-color: lightskyblue;
  border: none;
}

.btn:hover {
  background-color: lightgreen;
}
